<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Country</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<table>
    <tr>
        <td>
            <form id="country">
                <select size="20"
                        onchange="if(this.options[this.selectedIndex].value == 165){document.getElementById('city').style.display='block';}">
                    <?
                        foreach($data['country'] as $key => $value){
                            echo "<option value=" . $key . ">" . $value . "</option>";
                        }
                    ?>
                </select>
            </form>
        </td>
        <td>
            <form id="city">
                <select size="20">
                    <?
                        foreach($data['city'] as $key => $value){
                            echo "<option>" . $value . "</option>";
                        }
                    ?>
                </select>
            </form>
        </td>
    </tr>
</table>
</body>
</html>

